{
  "all": true,
  "excludeAfterRemap": true,
  "report-dir": "./coverage_cy",
  "include": ["src/**/*.js", "src/**/*.jsx"],
  "exclude": [
    "cypress/**/*.js",
    "src/**/*.cy.js",
    "src/**/*.cy.jsx",
    "src/**/*.test.js",
    "src/**/*.test.jsx"
  ]
}